@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  min-height: 100vh;
}

/* Custom styles if needed beyond Tailwind */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
}
